### Loading data

In [1]:
import pandas as pd
df = pd.read_csv('./homeprices.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

### Data preprocessing

In [2]:
# In here we are going to use the median for the missing value
import math 
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [3]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

### Model Creation

In [4]:
from sklearn import linear_model
model = linear_model.LinearRegression()

In [8]:
y = df[['price']]
y

    price
0  550000
1  565000
2  610000
3  595000
4  760000
5  810000

In [7]:
x = df[['area','bedrooms','age']]
x

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [9]:
model.fit(x,y)

LinearRegression()

In [10]:
model.predict([[2600,3,20]])

/Users/chandimajayamina/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[518217.63297611]])

### Model evaluation

In [11]:
print('Model m values : ', model.coef_)

Model m values :  [[  112.06244194 23388.88007794 -3231.71790863]]

In [12]:
print('Model b value : ', model.intercept_)

Model b value :  [221323.0018654]

### Save model using pickle

In [13]:
import pickle
with open('model_pickle','wb') as f:
    pickle.dump(model,f)

### load the model

In [15]:
with open('model_pickle','rb') as f:
    model_load = pickle.load(f)

In [16]:
model_load.predict([[2600,3,20]])

/Users/chandimajayamina/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[518217.63297611]])